
<svg version="1.1"
     baseProfile="full"
     width="800" height="600"
     xmlns="http://www.w3.org/2000/svg"
    
    (pointerup)="onPointerUp($event)"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"

     class="workflow-canvas"
     >

  <svg:g *ngFor="let node of nodes">
    <svg:style type="text/css" >
      <![CDATA[
          .is-selected {
              stroke: black;
              fill:   white;
              stroke-dasharray:4;
              cursor: move;
          }
          .not-selected {
              stroke: black;
              fill:   white;
              cursor: move;
          } 
          .is_selecting {
            stroke: lightblue;
            fill:   lightskyblue;
            fill-opacity: 0.1;
          }
          .selection-handle {
            stroke: none;
            fill:   lightskyblue;
            fill-opacity: 0.50;
          }
          .north-resize {
            cursor: n-resize;
          }
          .east-resize {
            cursor: e-resize;
          }
          .south-resize {
            cursor: s-resize;
          }
          .west-resize {
            cursor: w-resize;
          }
          .north-west-resize {
            cursor: nw-resize;
          }
          .north-east-resize {
            cursor: ne-resize;
          }
          .south-west-resize {
            cursor: sw-resize;
          }
          .south-east-resize {
            cursor: se-resize;
          }
      ]]>
  </svg:style>

    <svg:g app-workflow-task [node]="node" *ngIf="node.constructor.name === 'RectWorkflowNode' "></svg:g>
    <svg:g app-workflow-terminator [node]="node" *ngIf="node.constructor.name === 'CircleWorkflowNode' "></svg:g>
    <svg:g app-workflow-decision [node]="node" *ngIf="node.constructor.name === 'DiamondWorkflowNode' "></svg:g>

    <svg:g *ngIf="isSelecting">
      <svg:rect [attr.x]="getSelectionStartX()" [attr.y]="getSelectionStartY()" 
        [attr.width]="getSelectionWidth()" [attr.height]="getSelectionHeight()" 
        [attr.class]="'is_selecting'" ></svg:rect>
    </svg:g>
    
  </svg:g>
  

</svg>
