
<svg:svg version="1.1"
     baseProfile="full"
     width="800" height="600"
     xmlns="http://www.w3.org/2000/svg"
    
    (pointerup)="onPointerUp($event)"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"

     class="workflow-canvas"
     > 
     <style type="text/css" >
     
         .is-selected {
             stroke: black;
             fill:   white;
             stroke-dasharray:4;
             cursor: move;
         }
         .not-selected {
             stroke: black;
             fill:   white;
             cursor: move;
         } 
         .is_selecting {
           stroke: lightblue;
           fill:   lightskyblue;
           fill-opacity: 0.1;
         }
         .selection-handle {
           stroke: none;
           fill:   lightskyblue;
           fill-opacity: 0.50;
         }
         .north-resize {
           cursor: n-resize;
         }
         .east-resize {
           cursor: e-resize;
         }
         .south-resize {
           cursor: s-resize;
         }
         .west-resize {
           cursor: w-resize;
         }
         .north-west-resize {
           cursor: nw-resize;
         }
         .north-east-resize {
           cursor: ne-resize;
         }
         .south-west-resize {
           cursor: sw-resize;
         }
         .south-east-resize {
           cursor: se-resize;
         }
         .connection-handle {
           stroke: none;
           fill:   lime;
           fill-opacity: 0.50;
         }
         .connecting {
           stroke: black;
           stroke-width: 1;
         }
         .connected {
          stroke: black;
          stroke-width: 1;
        }
 </style>
 <svg:defs>
   <svg:marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5"
       markerWidth="10" markerHeight="10"
       orient="auto-start-reverse">
     <svg:path d="M 0 0 L 10 5 L 0 10" />
   </svg:marker>
 </svg:defs>

  <svg:g *ngFor="let node of model.nodes">
    
    <svg:g app-workflow-task [node]="node" [canvas]="this" *ngIf="node.constructor.name === 'RectWorkflowNode' "></svg:g>
    <svg:g app-workflow-terminator [node]="node" [canvas]="this" *ngIf="node.constructor.name === 'CircleWorkflowNode' "></svg:g>
    <svg:g app-workflow-decision [node]="node" [canvas]="this" *ngIf="node.constructor.name === 'DiamondWorkflowNode' "></svg:g>

    <svg:g *ngIf="isGroupSelecting()">
      <svg:rect [attr.x]="getGroupSelectionStartX()" [attr.y]="getGroupSelectionStartY()" 
        [attr.width]="getGroupSelectionWidth()" [attr.height]="getGroupSelectionHeight()" 
        [attr.class]="'is_selecting'" ></svg:rect>
    </svg:g>

    <svg:g *ngIf="isConnecting()">
      <svg:path [attr.d]="connectionPath()"
        [attr.class]="'connecting'" marker-end="url(#arrow)"></svg:path>
    </svg:g>
    
  </svg:g>
  
  <svg:g *ngFor="let edge of model.edges">
    <svg:g app-workflow-connector [edge]="edge" [canvas]="this"></svg:g>
  </svg:g>

</svg:svg>
